@font-face {
    font-family: "sleek";
    src: url("font.otf");
}

body{
    background-color: rgb(25, 25, 25);
}

a{
    color: white;
    font-family: "sleek", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.butt{    
    margin-left: 5px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: orangered;
    padding-left: 5px;
    padding-right: 5px;
}

.lin{
    margin-top: 25px;
}

div{
    position:fixed;
    margin-left:  5%;
}

p{
    color: white;
    font-family: "sleek", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    font-size: large;
    text-align: left;
}    

@media screen and (max-width: 1200px) {
    p{
        color: white;
        font-family: "sleek", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 10%;
        margin-right: 10%;
        font-size: large;
        text-align: left;
    }    
}




h1{
    color: white;
    font-family: "sleek", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    margin-bottom: 15px;
}